/* STANDARD FOR MOBILE */
* 
{
  /* transparent link and button selection */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
  }
  
 ::-webkit-scrollbar{
 	width: 10px;
 	background-color: #FFFFFF;}
 
 ::-webkit-scrollbar-thumb{
 	border-radius: 10px;
 	background: #FF4500;}

body {
  -webkit-touch-callout: none;
  /* no callouts during tap and hold */
  -webkit-text-size-adjust: none;
  /* no fonts auto inflation */
  -webkit-user-select: none;
  /* no copy and paste, etc. */
  background-attachment: fixed;
  font-family: 'Hattori', Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%; }
  
  img {
  width: auto;
  max-width: 40%}

/* END STANDARD MOBILE */
/* CUSTOM FONTS */
@font-face {
	font-family: 'Hattori';
	src: url('../fonts/Hattori_Hanzo.otf') format('opentype'); }

/* END CUSTOM FONTS */
/* START STRUCTURE */
#main {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	overflow: hidden; }

.displayinline{
    display: inline; }

.displaynone{
    display: none; }

.displayblock{
	display: block; }
    
.invisible {
	visibility: hidden; }

#content {
	position: relative;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	overflow-y: scroll;
	overflow-x: hidden; 
	margin-top:0%;
	margin-bottom: -50%;}

.page {
	position: relative;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	overflow-y: scroll;
	overflow-x: hidden; }

.scrollable {
 	-webkit-overflow-scrolling: touch; }

.not_scrollable {
 	-webkit-overflow-scrolling: auto; }
 	
#back{
	height: 85%;}
	
.emptyResult{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-73px;
	margin-left:-85px;
	width:147px;
	height:171px;
	background: #3FA9F5;}

.tab-item, .icon, .tab-label {
	color: #FFFFFF;
    background-color: #FF4500; }

.active {
    color: #FF4500;
    background-color: #FFFFFF; }

.bar.bar-nav{
    background-color: #FF4500; }
    
.table-view{
	overflow: hidden;
	border-color: transparent;}    

.table-view-cell.media{
	border-color: transparent;
	display: block;}
    
#prodotto{
	width: 280px;
	/*height: 180px;*/
	margin-left: 1%;
    float: left;
    display: inline;}

.nome{
    display: block;
    text-transform: uppercase; }

.icon-dettagli, .icon-follow{
	font-size: 90%;
	color: #FF4500;
	background-color: #FFFFFF}

.descrizione{
    font-weight: 200;
    font-size: 80%;
    display: block;
    text-align: center; }

.prezzo{
	text-size:110%;
	font-weight: bold;
    display: block;
    text-align: right; }

#tofollow{
	text-align:right; }

.btn{
    background-color: #FF4500; }
    
.title{
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    margin-top: 0.1em;
    margin-left: 0.5em;
    font-size: 1.85em;
    display: inline; }  
    
#offline{
	width: 100%;
	height: 100%;
	text-allign: center;}
	
#offline > p{
	font-size: 200%;
	color: #FF4500;}
    
#value{
	width: 70%;}
	
#ricerca{
	width: 20%;
	display: inline;
	float: right;}

#tabella{
	top:200px;
}


/* END STRUCTURE */
#map {
	height: 100%;
	width: 100%; }