<li class='table-view-cell media categoria'>
	<a class='navigate-right float-left'>
		<div id='ImmCat'>
			<img class='media-object pull-left' src='./img/Loghi_Categorie/acqua.jpg'>
			<p class='displayinline nome' id='nome'>Acqua</p>	
		</div>
	</a>
</li>
<li class='table-view-cell media categoria'>
	<a class='navigate-right float-left'>
			<div id='ImmCat'>
				<img class='media-object pull-left' src='./img/Loghi_Categorie/bagno.jpg'>
				<p class='displayinline nome' id='nome'>Bagno</p>
			</div>		
	</a>
</li>
<li class='table-view-cell media categoria'>
	<a class='navigate-right float-left'>
		<div id='ImmCat'>
			<img class='media-object pull-left' src='./img/Loghi_Categorie/carne.jpg'>
			<p class='displayinline nome' id='nome'>Carne</p>
		</div>
	</a>
</li>
<li class='table-view-cell media categoria'>
	<a class='navigate-right float-left'>
		<div id='ImmCat'>
			<img class='media-object pull-left' src='./img/Loghi_Categorie/cereali.jpg'>
			<p class='displayinline nome' id='nome'>Cereali</p>
		</div>
	</a>
</li>
<li class='table-view-cell media categoria'>
	<a class='navigate-right float-left'>
		<div id='ImmCat'>
			<img class='media-object pull-left' src='./img/Loghi_Categorie/cioccolata.png'>
			<p class='displayinline nome' id='nome'>Cioccolata</p>
		</div>
	</a>
</li>
<li class='table-view-cell media categoria'>
	<a class='navigate-right float-left'>
		<div id='ImmCat'>
			<img class='media-object pull-left' src='./img/Loghi_Categorie/condimenti.jpg'>
			<p class='displayinline nome' id='nome'>Condimenti</p>
		</div>
	</a>
</li>
<li class='table-view-cell media categoria'>
	<a class='navigate-right float-left'>
		<div id='ImmCat'>
   			<img class='media-object pull-left' src='./img/Loghi_Categorie/formaggi.jpg'>
			<p class='displayinline nome' id='nome'>Formaggi</p>
		</div>
	</a>
</li>
<li class='table-view-cell media categoria'>
	<a class='navigate-right float-left'>
		<div id='ImmCat'>
			<img class='media-object pull-left' src='./img/Loghi_Categorie/frutta.jpg'>
			<p class='displayinline nome' id='nome'>Frutta</p>
		</div>
	</a>
</li>
<li class='table-view-cell media categoria'>
	<a class='navigate-right float-left'>
		<div id='ImmCat'>	
			<img class='media-object pull-left' src='./img/Loghi_Categorie/gelati.jpg'>
			<p class='displayinline nome' id='nome'>Gelati</p>
		</div>
	</a>
</li>
<li class='table-view-cell media categoria'>
	<a class='navigate-right float-left'>
		<div id='ImmCat'>
			<img class='media-object pull-left' src='./img/Loghi_Categorie/ortaggi.jpg'>
			<p class='displayinline nome' id='nome'>Ortaggi</p>
		</div>
	</a>
</li>
<li class='table-view-cell media categoria'>
	<a class='navigate-right float-left'>
		<div id='ImmCat'>
			<img class='media-object pull-left' src='./img/Loghi_Categorie/pasta.jpg'>
			<p class='displayinline nome' id='nome'>Pasta</p>
		</div>
	</a>
</li>
<li class='table-view-cell media categoria'>
	<a class='navigate-right float-left'>
		<div id='ImmCat'>
			<img class='media-object pull-left' src='./img/Loghi_Categorie/patate.jpg'>
	    	<p class='displayinline nome' id='nome'>Patate</p>
		</div>
	</a>
</li>
<li class='table-view-cell media categoria'>
	<a class='navigate-right float-left'>
		<div id='ImmCat'>
			<img class='media-object pull-left' src='./img/Loghi_Categorie/pesce.jpg'>
			<p class='displayinline nome' id='nome' >Pesce</p>
		</div>
	</a>
</li>
<li class='table-view-cell media categoria'>
  	<a class='navigate-right float-left'>
  		<div id='ImmCat'>
   			<img class='media-object pull-left' src='./img/Loghi_Categorie/vino.jpg'>
   			<p class='displayinline nome' id='nome'>Vino</p>
		</div>
  	</a>
</li>