<ul class="table-view">
  <li class="table-view-cell media">
    <a class="navigate-right float-left">
      <img class="media-object pull-left" src={{prodottoimg}}>
      <div class="media-body">
        <p class="nome">{{prodottonome}}</p>
        <p class="id displaynone">{{id}}</p>
        <div class="details-no">
            <span class="icon icon-down-nav">Dettagli</span>
            <div class="displaynone">
                <p class="descrizione">{{prodottodescrizione}}</p>
                <p class="supermercato">
                    <img class="media-object pull-left" src={{supermercatoimg}}>
                </p>
                <p class="prezzo">{{prodottoprezzo}}</p>
            </div>
        </div>
        <div class="unfollowed">
            <span class="icon icon-star"></span>
        </div>
      </div>
    </a>
  </li>
  
  <!-- riempito iterativamente con gli altri risultati -->
  
</ul>