<div id="dimensione">
<ul class="table-view">
	<li class="table-view-cell media" id="goToMap">
		<a class="navigate-right">
			<span class="media-object pull-left icon icon-pages"></span>
			<div class="media-body">
			</div>
		</a>
	</li>
</ul>
<form id="searchThis" action="/search">
	<input id="searchBox"  value="Search" name="q" type="text"/>
	<input id="searchButton" value="Go" type="submit"/>
</form>
<table class="tabella">
	<tr>
	
		<td class="riga">{{ key }}</td>
		<td class="riga">{{ key }}</td>
	 </tr>
	 <tr>
	 	<td class="riga">{{ key }}</td>
		<td class="riga">{{ key }}</td>
	 </tr>
	    <td class="riga">{{ key }}</td>
		<td class="riga">{{ key }}</td>
	 </tr>
	 <tr>
	 	<td class="riga">{{ key }}</td>
		<td class="riga">{{ key }}</td>
	 </tr>




</table>
</div>

<div class="i-6">{{ key }}</div>
<div class="i-6">{{ key }}</div>
