<html>
<header class="bar bar-nav">
      <link rel="stylesheet" type="text/css" href="../style/style.css">
      <link rel="stylesheet" type="text/css" href="../style/style.scss">

      <h1 class="title">In Evidenza</h1>
</header>
<body class= "bar bar-nav">
<nav  class="bar bar-tab">
  <a class="tab-item active" id="nav1">
    Home
  </a>
  <a class="tab-item" id="nav2">
    Spotlight
  </a>
  <a class="tab-item active" id="nav3">
    Categorie
  </a>
  <a class="tab-item active" id="nav4">
    Market
  </a>
  <a class="tab-item active" id="nav5">
    Ricerca
  </a>
</nav>

<!-- <nav id="navigation">
    <div id="nav1" class="i-4">nav 1</div>
    <div id="nav2" class="i-8">nav 2</div>
</nav> -->
<div id="content" class="content">
</div>
</body>
</html>